src/com/baobab/htc/business/services/clients/HtcService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://webservices.business.htc.baobab.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://webservices.business.htc.baobab.com">
    <wsdl:documentation>HtcService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservices.business.htc.baobab.com">
            <xs:element name="submitXmlDocument">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="XmlDocument" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="submitXmlDocumentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="submitXmlDocumentRequest">
        <wsdl:part name="parameters" element="ns:submitXmlDocument"/>
    </wsdl:message>
    <wsdl:message name="submitXmlDocumentResponse">
        <wsdl:part name="parameters" element="ns:submitXmlDocumentResponse"/>
    </wsdl:message>
    <wsdl:portType name="HtcServicePortType">
        <wsdl:operation name="submitXmlDocument">
            <wsdl:input message="ns:submitXmlDocumentRequest" wsaw:Action="urn:submitXmlDocument"/>
            <wsdl:output message="ns:submitXmlDocumentResponse" wsaw:Action="urn:submitXmlDocumentResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HtcServiceSoap11Binding" type="ns:HtcServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="submitXmlDocument">
            <soap:operation soapAction="urn:submitXmlDocument" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="HtcServiceSoap12Binding" type="ns:HtcServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="submitXmlDocument">
            <soap12:operation soapAction="urn:submitXmlDocument" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="HtcServiceHttpBinding" type="ns:HtcServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="submitXmlDocument">
            <http:operation location="HtcService/submitXmlDocument"/>
            <wsdl:input>
                <mime:content type="text/xml" part="submitXmlDocument"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="submitXmlDocument"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HtcService">
        <wsdl:port name="HtcServiceHttpSoap11Endpoint" binding="ns:HtcServiceSoap11Binding">
            <soap:address location="http://192.168.11.41:8080/axis2/services/HtcService.HtcServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="HtcServiceHttpSoap12Endpoint" binding="ns:HtcServiceSoap12Binding">
            <soap12:address location="http://192.168.11.41:8080/axis2/services/HtcService.HtcServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="HtcServiceHttpEndpoint" binding="ns:HtcServiceHttpBinding">
            <http:address location="http://192.168.11.41:8080/axis2/services/HtcService.HtcServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
